.input {
	padding: 5px 10px;
	margin: 0.5vh 0;
	background-color: inherit;
	color: var(--primaryText);
	border: 0;
	border-bottom: solid 2px var(--primaryText);

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
