@import "~/themes.scss";

div {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	@include themify() {
		background-color: themed("backgroundColor");
	}
}

h1 {
	padding-top: 20vh;
	font-size: 3em;
	margin-bottom: 1vh;

	@include themify() {
		color: themed("headerColor");
		font-family: themed("headerFont");
	}
}

p {
	@include themify() {
		color: themed("textColor");
		font-family: themed("textFont");
	}
}

.theme-switcher {
	position: absolute;
	right: 2vw;
	top: 3vh;

	svg {
		height: 2.5em;

		@include themify() {
			fill: themed("iconColor");
		}
	}
}
