@import "../../global";

.wrapper {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	background-image: var(--backdropColor);
}

.content {
	display: inline-block;
	padding: 0 5vw;
	width: 90vw;
	color: var(--textColor);
	font-family: var(--textFont);

	@include laptop {
		width: 38vw;
	}
}

.theme-switcher {
	position: absolute;
	right: 2vw;
	bottom: 3vh;

	svg {
		height: 2.5em;
		fill: var(--iconColor);
	}
}
