@import "../../global";

.container {
	display: flex;
	flex-direction: column;
	min-height: 22vh;
	margin-top: 5vh;
	padding: 10px 20px;
	background-color: var(--backgroundColor);
	border-radius: 5px;

	@include laptop {
		margin-top: 20vh;
	}
}

.header {
	font-size: 2.4em;
	text-align: center;
	margin-bottom: 0;
}

.type-switch {
	margin-top: auto;
	margin-bottom: 2vh;
	text-align: center;
	color: var(--textColor);
}
