html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

h1 {
	font-size: 3em;
	margin-bottom: 1vh;
	color: var(--headerColor);
	font-family: var(--headerFont);
}

@mixin phone {
	@media (min-width: 320px) {
		@content;
	}
}

@mixin tablet-small {
	@media (min-width: 481px) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: 641px) {
		@content;
	}
}

@mixin laptop-small {
	@media (min-width: 961px) {
		@content;
	}
}

@mixin laptop {
	@media (min-width: 1025px) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: 1281px) {
		@content;
	}
}
