$themes: (
	aether-light: (
		backgroundColor: #f5f7fa,
		headerColor: #001738,
		textColor: #182c49,
		iconColor: #596174,
		headerFont: (
			"Arial Black",
			Gadget,
			sans-serif,
		),
		textFont: (
			"Times New Roman",
			Times,
			serif,
		),
	),
	aether-dark: (
		backgroundColor: #303a52,
		headerColor: #bdc3c7,
		textColor: #fff,
		iconColor: #8492a6,
		headerFont: (
			"Arial Black",
			Gadget,
			sans-serif,
		),
		textFont: (
			"Times New Roman",
			Times,
			serif,
		),
	),
);

// Credits: https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1
@mixin themify() {
	@each $theme, $map in $themes {
		.theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), "#{$key}");
				$theme-map: map-merge(
					$theme-map,
					(
						$key: $value,
					)
				) !global;
			}

			@content;
			$theme-map: null !global;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}
