.aether-light {
	--backgroundColor: #f5f7fa;
	--headerColor: #001738;
	--textColor: #182c49;
	--iconColor: #596174;
	--headerFont: ("Arial Black", Gadget, sans-serif);
	--textFont: ("Arial Black", Gadget, sans-serif);
}

.aether-dark {
	--backgroundColor: #303a52;
	--headerColor: #bdc3c7;
	--textColor: #fff;
	--iconColor: #8492a6;
	--headerFont: ("Arial Black", Gadget, sans-serif);
	--textFont: ("Arial Black", Gadget, sans-serif);
}
